/* CSS Document */
@import url("https://use.typekit.net/ove5slg.css");

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	text-align: center;
}

.container{
	width: 50%;
	margin: 0 auto;
	padding: 2rem 0;
}

.title{
	font-family: oskar-inline, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
}

.title span{
	font-family: oskar-inline, sans-serif;
	font-weight: 300;
	font-style: normal;
	display: block;
}


header{
	position: absolute;
	left: 0;
	right: 0;
	background: black;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: .5rem;
}

nav a{
	font-family: oskar-inline, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: .5rem;
	color: white;
}

nav a:hover,
nav a:focus{
	color: grey;
}

.home-hero{
	background-image: url("Assets/HomeBackground.png");
	background-position: center;
	padding: 10em 0;
	color: white;
}

.home-about{
	padding: 2rem 0;
	background-image: url("Assets/fillerScreenshot.PNG");
	background-position: center;
}

.home-about-textbox{
	width: 100%;
	padding: 1rem 1.5em;
	background: black;
	color: white;
}

.home-about-textbox h1{
	font-family: oskar-inline, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
}

.home-about-textbox p{
	font-family: oskar-inline, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
}

.home-about-textbox strong{
	color: teal;
}

.projects{
	font-family: oskar-inline, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1em;
}

.project-textbox{
	width: 75%;
	margin: 0 auto;
	padding: 4rem 0;
}

footer{
	left: 0;
	right: 0;
	background: black;
}